<div class="m-nav">
  <div class="m-nav-image">
    <%= image_tag 'white_dropbox_glyph.png' %>
  </div>
  <nav class="m-nav-items">
    <%= link_to 'Business home', '#', :class => 'active' %>
    <%= link_to 'Overview', '#' %>
    <%= link_to 'Uses', '#' %>
    <%= link_to 'Resources', '#' %>
    <%= link_to 'Customers', '#' %>
    <%= link_to 'Pricing', '#' %>
    <%= link_to 'Contact', '#' %>
  </nav>
</div>